[submodule "wlan-cloud-root"]
	path = wlan-cloud-root
	url = git@github.com:Telecominfraproject/wlan-cloud-root.git
[submodule "wlan-cloud-base"]
	path = wlan-cloud-base
	url = git@github.com:Telecominfraproject/wlan-cloud-base.git
[submodule "wlan-cloud-services"]
	path = wlan-cloud-services
	url = git@github.com:Telecominfraproject/wlan-cloud-services.git
[submodule "wlan-cloud-opensync-controller"]
	path = wlan-cloud-opensync-controller
	url = git@github.com:Telecominfraproject/wlan-cloud-opensync-controller.git
